#background {
    -fx-background-color: #F1F5F9;
}

#sideBar, #topBar, #statusBar {
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(182, 182, 182);
    
}

.navPanes {
    /*-fx-border-color: black;*/
}

.navPanes:hover{
    -fx-background-color:#F1F5F9;
}

.workoutCats {
    -fx-background-radius: 15; /* Adjust the radius as needed */

}

.rightSideText {
    -fx-fill: black;
}

#exercisePane {
    -fx-background-color: #63C041;
    -fx-background-radius: 10px;
}

#caloriesPane {
    -fx-background-color: #F97316;
    -fx-background-radius: 10px;
}

#weightLiftedPane {
    -fx-background-color: #8B5CF6;
    -fx-background-radius: 10px;
}

#sleepPane {
    -fx-background-color: #06B6D4;
    -fx-background-radius: 10px;
}

#recentExercises {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

#chart {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

#sampleExercises {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.updateDataInputField {
    /*-fx-border-color: rgb(145, 145, 145);*/
    -fx-background-color: rgba(255, 255, 255, 1.0);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 300px;
    -fx-min-height: 30px;
    -fx-prompt-text-fill: #9c9c9c;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.2, 0, 0);
}

.updateDataInputField:selected {
    -fx-border-color: rgb(145, 145, 145);
    -fx-background-color: rgba(255, 255, 255, 1.0);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 300px;
    -fx-min-height: 30px;
    -fx-prompt-text-fill: #9c9c9c;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.2, 0, 0);
}


.getStartedBtns {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-background-color: white;

}

#loseFatBtn {
    -fx-background-color: rgba(255, 76, 76, 0.9);
}

#calisthenicsButton {
    -fx-background-color: #2196F3;
}

#powerliftingBtn {
    -fx-background-color: #212121;
}

#buildMuscleBtn {
    -fx-background-color: #00897B;
}


.header-text {
    -fx-fill: #595959;
}

Button {
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-border-color: grey;
}

#saveBtn {
    -fx-text-fill: black;
}

#deleteBtn{
    -fx-text-fill: red;
}

#statusText {
    -fx-fill: grey;
}